<html
    xmlns:th="http://thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<div layout:fragment="content" class="container my-3">
  <form method="POST" th:action="@{/question/create}" th:object="${requestQuestionForm}"  class="my-3">
    <!--  form_errors 에 있는 formErrorsFragment 로 대체한다.  -->
    <div th:replace="form_errors::formErrorsFragment"></div>
    <div class="mb-3">
      <label for="subject"> 질문 제목</label>
      <input type="text" id="subject" name="subject" th:field="*{subject}" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label">질문 내용</label>
      <textarea name="content" class="form-control" rows="10" th:field="*{content}"></textarea>
    </div>
    <input type="submit" value="저장하기" class="btn btn-primary my-2">
  </form>
</div>
</html>
