/*웹폰트 가지고옴*/
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

textarea {
  width: 100%; /*부모 너비와 같아 진다.*/
}

input[type=submit],
button[type=submit] { /*태그[속성]*/
  margin-top : 10px;
}

html > body {
  font-family: "GmarketSansMedium";
}