<h2>상세 페이지</h2>
<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/css/bootstrap.min.css">
<div th:text="|날짜 : ${#temporals.format(questionDetail.createDate, 'yyyy-MM-dd')}|"></div>
<div th:text="|제목 : ${questionDetail.subject}|"></div>
<div th:text="|내용 : ${questionDetail.content}|"></div>

<h3 th:text="| ${#lists.size(questionDetail.answerList)} 개의 답변이 있습니다.|"></h3>

<div>
  <ul>
    <li th:each="answer : ${questionDetail.answerList}" th:text="${answer.content}"></li>
  </ul>
</div>

<form th:action="@{|/answer/create/${questionDetail.id}|}" method="POST">
<!-- label 엘리멘트의 for 와 textarea 엘리먼트의 id 가 Mapping 됨 -->
  <label for="content">답변 내용</label>
<!--  textarea 의 name 이 Controller 의 파라미터명과 일치해야함-->
  <textarea name="content" id="content" rows="15"></textarea>
<!-- 제출 방법 (1) -->
<!--  <input type="submit" value="답변등록">-->
<!-- 제출 방법 (2) -->
  <button type="submit"> 답변 등록 </button>
</form>